.page-header {
    margin-bottom: 5px;
}

.page-header h3 {
	display: inline-block;
}

.section-header {
	display: inline-block;
}

.right {
	text-align: right;
}

.btn-sequence {
	margin-right: 10px;
}

.btn-sequence-right {
	margin-left: 10px;
}

.page-header .right {
	float: right;
}

.page-header .status-waiting {
	color: grey;
}

.page-header .status-running {
	color: green;
}

.page-header .status-failed {
	color: red;
}

.task-failed {
	color: red;
}

textarea {
	width: 100%;
}

/* #schedule label {
	margin-top: -11px;
} */

#table-toggle {
	float: right;
	margin-top: 18px;
}

td:last-child {
	width: 17%;
}

td > i {
	opacity: 0;
	cursor: pointer;
	margin-left: 10px;
}

td:hover > i {
	opacity: 1;
}

i.icon-info-sign {
    float: right;
    font-size: 24px;
    color: #6495ED;
    cursor: pointer;
}

div.relative-holder {
    position: relative;
}

.chart-help {
    border: 1px solid #EEEEEE;
	position: absolute;
	bottom:0px;
	background-color: lightblue;
	opacity:0.75;
}

.page-alert-fixed{
	position:fixed;
	top:0px;
	z-index: 1030;
	width:inherit;
	height:40px;
	pointer-events:none;
}

.page-sidebar-rel{
	position: relative;
	width:220px;
	border: 1px solid yellow;

}

.page-sidebar-con{
	border: 1px solid red;
	width: 220px;
}

.page-sidebar-abs{
	position:absolute;
	z-index: 1030;
	dispaly:block;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 0px;
}

.panelarea{
	position: absolute;
	top:150px;
	width:inherit;
}

.mynotes{
	margin:0px 0px;
	width:900px;
	background-color:rgb(205,205,205);
	/* outline-color: invert ; */
	/* outline-style: none ; */
	/* outline-width: 0px ; */
	/* border: none ; */
	border-style: none ;
	/* text-shadow: none ; */
	/* outline-color: transparent ; */
	box-shadow: none;
}

.monitor{
	overflow:auto;
	width:780px;
	height:473px;
}

.table{
	min-width: 1200px;
}

#dag-graph{
	position:relative;
}

.center {
	width: auto;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.ssbutton{
	margin:25px auto;
	width:70px;

}

.myinput{
	padding:0px 0px;
}
