{% extends 'base.html' %}

{% block head %}
{{ super() }}

<script>
  var jobName = '{{ job.name }}';
  var taskName = '{{ task_name }}';
</script>

<link rel="stylesheet" href="/static/css/task_detail.css"></link>

{% raw %}
<script id="history-table-template" type="text/x-handlebars-template">
    <tr data-log='{{ historyId }}'>
        {{> historyId }}
        <td><span data-attr='completion_time' data-transform='class title'
                class={{ completionTime }}>{{ completionTime }}</span>
        </td>
        <td><span data-attr='runtime' data-transform='class title'
                class={{ runtime }}>{{ runtime }}</span>
        </td>
        <td>
            <button class='btn btn-primary' onclick="window.location.href = '{{ logURL }}';">查看</button>
        </td>
    </tr>
</script>
<script id="history-name-template" type="text/x-handlebars-template">
    <td data-attr='log_id'>
        {{#if historyId}}{{historyId}}{{/if}}
    </td>
</script>
{% endraw %}

{% endblock head %}

{% block navbar_current %}
<li><a href='{{ url_for('job_detail', job_id=job.job_id) }}'>任务: {{ job.name }}</a></li>
<li><a href='#'>步骤: {{ task_name }}</a></li>
{% endblock navbar_current %}

{% block content %}

<div class='page-header'>
  <h3>步骤: {{ task_name }}</h3>
  <h3 id='task-status' class='right'></h3>
</div>

<div class='alert alert-caution'>
  页面内容暂未实时刷新，建议手动刷新页面以查看最新信息。
</div>

<div class='row hidden' id='timeout'>

  <div class='span12'>
    <h3>步骤超时设置(单位秒，0表示不设超时处理)</h3>
  </div>

  <div class='span6'>

    <div id='soft-timeout-alert' class='alert hidden'>
    </div>

    <form id='soft-timeout-form' class='form form-horizontal'>
      <div class='control-group'>
        <label class='control-label' for='soft-timeout'>软超时(中止操作)</label>
        <div class='controls'>
          <input id='soft-timeout' type='text' class='input'
                 value={{ task.soft_timeout }}></input>
        </div>
      </div>
      <div class='control-group'>
        <div class='controls'>
          <button id='save-soft-timeout' class='btn btn-success' onclick='return false;'>设定软超时</button>
        </div>
      </div>
    </form>
  </div>

  <div class='span6'>

    <div id='hard-timeout-alert' class='alert hidden'>
    </div>

    <form id='hard-timeout-form' class='form form-horizontal'>
      <div class='control-group'>
        <label class='control-label' for='hard-timeout'>硬超时(结束操作)</label>
        <div class='controls'>
          <input id='hard-timeout' type='text' class='input'
                 value={{ task.hard_timeout }}></input>
        </div>
      </div>
      <div class='control-group'>
        <div class='controls'>
          <button id='save-hard-timeout' class='btn btn-success' onclick='return false;'>设定硬超时</button>
        </div>
      </div>
    </form>

  </div>

  远程主机地址:
<input class="input-xxlarge" id="disabledInput" type="text"  value = {{ task.hostname}}>


</div>

<table class='table table-striped'>
    <thead>
        <th>运行编号</th>
        <th>完成时刻</th>
        <th>运行时长</th>
        <th></th>
    </thead>
    <tbody id='history-body'>
    </tbody>
</table>

<div id='logs' class='row'>
    <div class='span12'>
  
      <h3>运行日志</h3>
  
      <div class='log-controls'>
        <button id='head-stdout' class='btn btn-sequence btn-primary'>查看标准输出头部</button>
        <button id='tail-stdout' class='btn btn-sequence btn-primary'>查看标准输出尾部</button>
        <button id='head-stderr' class='btn btn-sequence btn-primary'>查看标准错误头部</button>
        <button id='tail-stderr' class='btn btn-sequence btn-primary'>查看标准错误尾部</button>
  
        <span id='log-type' class='right-header'></span>
      </div>
  
      <textarea id='log-detail' class='hidden'></textarea>
  
    </div>
  </div>

{% endblock content %}

{% block body_scripts %}
  <script src="/static/js/task_detail.js"></script>
{% endblock body_scripts %}
